/* Main */
/* START */
.main {
  position: fixed;
  overflow: auto;
  left: 0;
  top: 8.2%;

  width: 75%;
  height: 91.8%;

  background-color: rgb(85, 85, 85);
}

.mainSection {
  margin-left: 3%;
  margin-right: 3%;
  margin-top: 1vh;

  padding-bottom: 2vh;

  border-radius: 2vh;

  background: rgb(255,255,255);

  -moz-box-shadow:    inset 0 0 15px #000000;
  -webkit-box-shadow: inset 0 0 15px #000000;
  box-shadow:         inset 0 0 15px #000000;

}

.mainSection:first-child {
  margin-top: 2vh;
}

.mainSection:last-child {
  margin-bottom: 2vh;
}

.mainHeader {
  text-align: center;
  color: rgb(51, 51, 51);
  font-size: 4vh;
  font-weight: bold;

  padding: 2vh 0;
}

.mainContent {

}

.graph {
  width: 90%;
  display: inline-block;

  margin-right: 0.25%;
  margin-left: 0.75%;

  background-color: rgb(255, 255, 255);
}
.graph canvas {
  width: 100% !important;
  height: 100% !important;
}

.graphButtonHolder {
  width: 8%;

  margin-right: 0.75%;
  margin-left: 0.25%;
  margin-top: 3%;

  display: inline-block;
  float: right;
}

.graphButton {
  width: 60%;
  height: 50%;
  margin-bottom: 0.5vh;

  display: inline-flex;

  border: 0.3vh solid rgb(51, 51, 51);
  border-radius: 1vh;

  background: linear-gradient(to bottom, rgb(200, 200, 200), rgb(255, 255, 255));

  transition-property: box-shadow;
  transition-duration: 0.2s;
}

.graphButton:hover {
  cursor: pointer;
  box-shadow: 0 0 0.4vh 0.2vh rgb(75, 75, 75);
}

.graphButton img {
  width: 100%;
  height: 100%;
}
/* END */
