/* Main */
/* START */
.main {
  position: fixed;
  overflow: auto;
  left: 0;
  top: 8.2%;

  width: 100%;
  height: 91.8%;

  background-color: rgb(85, 85, 85);
}

.settings {
  margin: 2%;
  padding: 2%;

  font-size: 1.5vh;

  background-color: rgb(255,0,0);
}

.presets {
  margin: 2%;
  padding: 2%;

  font-size: 1.5vh;

  background-color: rgb(0,0,255);
}

.presetName {
  margin-top: 1%;
  display: inline-block;
  margin-right: 2%;
}

.deletePresetButton {
  display: inline-block;
  margin-right: 2%;
}

.graphSection {
    margin-left: 2%;
    margin-top: 1%;
}

.preferenceHeader {
  font-weight: bold;
}

.presetHeader {
  font-weight: bold;
}

.preference {
  height: 10%;
  margin-top: 1%;
  background-color: rgb(0,255,0);
}

.preferenceName {
  display: inline-block;
  margin-right: 2%;
}

.preferenceInput {
  display: inline-block;
  margin-right: 2%;
}

.preferenceButton {
  display: inline-block;
  cursor: pointer;
  margin-right: 2%;
}

.measurement {
  display: inline-block;
  margin-left: 2%;
}
.measurement:first-child {
  margin-left: 4%
}

.preferenceSection {
  display: inline-block;
  margin-left: 2%;
}
.preferenceSection:first-child {
  margin-left: 4%;
}
/* END */
